@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 📅 Đổi màu icon date picker */
@layer utilities {
  .custom-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* biến icon thành màu trắng */
    cursor: pointer;
  }
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE + Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background: radial-gradient(at 30% 30%, #202d4e, transparent),
              radial-gradient(at 70% 70%, #b629ff, transparent),
              linear-gradient(135deg, #0b1e3d, #132f51, #183b69);
  background-blend-mode: overlay;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}